{% extends "labour_management/base.html" %}

{% block title %}Shift Schedule{% endblock %}

{% block content %}
    <h1>Shift Schedule</h1>
    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Shift Type</th>
                <th>Staffing Level</th>
                <th>View Manning Rota</th>
            </tr>
        </thead>
        <tbody>
            {% for shift in shifts %}
                <tr>
                    <td>{{ shift.date }}</td>
                    <td>{{ shift.shift_type }}</td>
                    <td>{{ shift.staffing }}</td>
                    <td><a href="#">View Rota</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
